body
{
	font-family: calibri,arial, sans-serif;
	background-color:#222222;
	font-size: 1.1em;
	color:white;
	margin:0;
}

header
{
	display:flex;
	background: url('images/hz_banner.jpg');
	justify-content: space-between;
    	align-items: flex-end;
    	border-bottom: 0.1em #7898f0 solid;
}
header h1
{
	color:#222222;
	font-size: 3em;
	padding-left: 0.5em;
}
header ul
{
	list-style-type: none;
    display: flex;
	margin-bottom: 0.1em;
}
header li
{
	margin: 0 0.5em 0 2em;
}
header a
{
	font-size: 1.3em;
 	color:#222222;
	text-decoration: none;
}
header a:hover
{
    	color: black;
    	text-decoration: underline;
}

section
{
	margin-left: 1.5em;
	padding-top: 0.2em;
}
section h1,.F4SElink
{
	font-weight: lighter;
	margin: 0.2em 0 0.2em 0;
	font-size: 1.5em;
	color:#7898f0;
}
.F4SElink
{
	font-size: 1em;
	margin:auto;
}
section p
{
	margin:0;
}
section a
{
	color:#a8d6ff;	
    	text-decoration: none;
}
section a:hover
{
	color:#a0a0f0;
    	text-decoration: underline;
}
details {
    	margin-bottom: 0em;
	max-width: 13em;
	color:#CCCCCC;
    	border-left: 0.2em solid #a8d6ff;
    	padding: 0 0 0 0.3em;
}
summary {
	list-style-type: none;
	font-weight: bold;
	max-width: 5em;
	padding-right: 0.2em;
}
details[open] {
	max-width: 13em;
    	padding: 0 0 0 0.3em;
}
details[open] summary {
	font-weight: bold;
}

footer ul
{
	list-style-type: none;
    	display: flex;
	margin-top: 0.5em;
}
footer li
{
	margin: 0 0.5em 0 0.5em;
}
footer a
{
    	color:#a8d6ff;
    	text-decoration: none;
}
footer a:hover
{
    	color:#a0a0f0;
    	text-decoration: underline;
}
footer
{
	margin-top: 1em;
	display:flex;
	justify-content: space-between;
    	align-items: flex-end;
    	border-top: 0.1em #7898f0 solid;
}
