---
---

@import "{{ site.theme }}";
body {
    color: $text-white;
    background-color: $bg-gray-dark;
}
a {
    color: $blue-300;
}
.markdown-body {
    blockquote {
      color: $gray-300;
    }
}

  